:root {
    --bg: #ffffff;
    --text: #000000;
    --topbar: #000000;
    --sidebar: #2b3280;
    --sidebar-hover: #2a1d81;
    --conteudo: #eaeaea;
    --bloco: white;
}

.dark {
    --bg: #121212;
    --text: #ffffff;
    --topbar: #000000;
    --sidebar: #2b3280;
    --sidebar-hover: #2a1d81;
    --conteudo: #2a2a2a;
    --bloco: gray;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://s2.glbimg.com/jouKK37fyS63nORe_321LQu7ItQ=/e.glbimg.com/og/ed/f/original/2020/01/25/masp_foto-marcos-santos_u0y4304.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:var(--text);
}
.body-ajuda
{
    background-image: none;
    background-color: white;
}

/* TOPBAR */
.topbar {
    position: fixed;
    top: 10px;
    left: 20px;
    right: 20px;
    width: 100%;
    height: 80px;
   

    background-color:var(--topbar);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 15px;
}

.logo img {
    height: 40px;
}

.top-buttons button {
    text-decoration: none;
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: inherit;
 

    transition: 0.3s;
}
.top-buttons a{
    text-decoration: none;
    color: inherit;
    }
.top-buttons button:hover {
    background-color: #ddd;
   
}


/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 200px;
    height: 100%;

    background: linear-gradient(
    180deg,
    #515cd1 0%,
    #1c225c 100%
);
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    z-index: 999;
}

.sidebar button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 200px;

    transition: 0.3s;
}
.botao-sair {
    margin-top: 590px;
    margin-left: 33px;
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 200px;

    transition: 0.3s;
     
}

.sidebar button:hover {
    background-color: var(--sidebar-hover);
    padding-left: 20px;
}

/* CONTEÚDO */
.conteudo {
    margin-top: 100px;
    margin-left: 220px;

    padding: 20px;
    background-color: var(--conteudo);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);

    min-height: 100vh;
    border-radius: 20px;
}
.conteudo {
    animation: aparecer 0.6s ease;
}
/*pagina ajuda*/
.btn-voltar {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}
/*Pagina avalie*/
.avaliacao-topo {
    text-align: center;
    margin-bottom: 50px;
}
.card-avaliacao {
    background: var(--bloco);

    padding: 40px;
    border-radius: 20px;

    text-align: center;

    max-width: 700px;
    margin: 0 auto 50px auto;

    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.estrelas {
    font-size: 40px;
    margin-bottom: 20px;
}
.btn-google {
    margin-top: 20px;

    padding: 15px 30px;
    border: none;
    border-radius: 10px;

    background: #4285F4;
    color: white;

    cursor: pointer;
    transition: 0.3s;

    font-size: 16px;
}
.beneficios{
    justify-content: center;
    display: flex;
    gap: 20px;
}
/*Pagnina busque*/
.painel-busca {
    width: 100%;
    margin: -20px -20px 0 -20px;
    height: 40vh;
    min-height: 230px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    padding: 50px 20px 35px;
    background: linear-gradient(180deg, #50ADEF 0%, #484545 100%);
    color: white;
    text-align: center;
}
.cards-container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
}
.card {
    background: #ccc;
    color: black;
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    min-width: 280px;
    text-align: center;
    scroll-snap-align: center;
}
.vejamais {
    position: absolute;
    top: 50px;
    align-items: center;

    background-color: var(--conteudo);
    border-radius: 10px;
    padding: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.info-extra {
    margin-top: 15px;
}
.btn-vermais {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
   
    cursor: pointer;
}
.hidden2 {
    display: none;
}
.foto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ccc;
    margin: 10px auto;
}
.seta {
    background: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    transition: 0.3s;
}

.seta:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

.seta.esquerda {
    order: -1;
}

.seta.direita {
    order: 1;
    align-self: center;
}
/*pagina mais sobre*/
.sobre-topo {
    text-align: center;
}
.carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    margin: 40px 0;
}
.imagens {
    display: flex;
    gap: 20px;
}

.img {
    width: 200px;
    height: 120px;
    border-radius: 10px;

    background-size: cover;
    background-position: center;
}
.img4 {
    background-image: url("https://picsum.photos/300/200");
}

.img5 {
    background-image: url("https://picsum.photos/301/200");
}

.img6 {
    background-image: url("https://picsum.photos/302/200");
}
.seta {
    padding: 10px;
    cursor: pointer;
}
/* CONFIGURAÇÕES */
.config {
    position: relative;
}

.menu-config {
    position: absolute;
    top: 50px;
    right: 0;

    background-color: var(--conteudo);
    border-radius: 10px;
    padding: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.hidden {
    display: none;
}
/*Botão de Whatsapp*/
.whatsapp-btn img {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 60px;
    height: 60px;

    background-color: #25D366;
    color: white;
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

    z-index: 1000;
}

/*Blocos Menu Inicial*/
section {
    margin-bottom: 60px;
}

.boas-vindas {
    text-align: center;
}

.bloco {
    display: flex;
    align-items: center;
    gap: 20px;

    background: var(--bloco);
    padding: 20px;
    border-radius: 20px;
}

.texto {
    top: 0px;
    flex: 1;
    width: 500px;
    font-size: larger;
}

.imagem {
    flex: 1;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.img1 {
    width: 100%;
    height: 100%;
    background-image: url(https://nicolasriossb-beep.github.io/Projeto-Interdisciplinar/componentes/hero/assets/castrotec-servi%C3%A7os.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img2 {
    width: 100%;
    height: 100%;
    background-image: url(https://nicolasriossb-beep.github.io/Projeto-Interdisciplinar/componentes/hero/assets/conserto-de-geladeira.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img3 {
    width: 100%;
    height: 100%;
    background-image: url(https://nicolasriossb-beep.github.io/Projeto-Interdisciplinar/componentes/hero/assets/conserto-de-maquina-de-lavar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.invertido {
    flex-direction: row-reverse;
}
/*Pagina ajuda*/
.body-ajuda
{
    background-image: none;
    background-color: white;
}
.btn-voltar {
    padding: 20px 40px;

    border: none;
    border-radius: 10px;

    background: #000;
    color: white;

    cursor: pointer;

    margin-bottom: 30px;
}
/*FAQ*/
.faq-container {
    margin-top: 40px;
}
.faq-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
}
.faq-btn {
    width: 100%;

    text-align: left;

    padding: 15px;

    border: none;
    border-radius: 10px;

    background: var(--bloco);

    font-size: 18px;
    cursor: pointer;
}
.faq-resposta {
    padding: 15px;
}


/*Versão Mobile - Tentativa 3*/
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 100px;
        width: 100%;
        height: auto;
        flex-direction: row;
        padding-bottom: 20px;
        justify-content: space-around;
    }

    .sidebar button {
        width: auto;
    }

    .conteudo {
        margin-left: 0;
        margin-top: 200px;
    }

/*Pagina busque*/
     .cards-container {
        flex-direction: column;
    }

    .seta {
        display: none;}
          
    .imagens {
        flex-direction: column;
    }

    .carrossel {
        flex-direction: column;
    }
}
@keyframes aparecer {

    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}
