:root {
    --bg: #ffffff;
    --text: #000000;
    --topbar: #000000;
    --sidebar: #2b3280;
    --sidebar-hover: #2a1d81;
    --conteudo: #eaeaea;
}

.dark {
    --bg: #121212;
    --text: #ffffff;
    --topbar: #1e1e1e;
    --sidebar: #2b3280;
    --sidebar-hover: #2a1d81;
    --conteudo: #2a2a2a;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://s2.glbimg.com/jouKK37fyS63nORe_321LQu7ItQ=/e.glbimg.com/og/ed/f/original/2020/01/25/masp_foto-marcos-santos_u0y4304.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:var(--text);
}

/* TOPBAR */
.topbar {
    position: fixed;
    top: 10px;
    left: 20px;
    right: 20px;
    width: 100%;
    height: 80px;

    background-color:var(--topbar);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 15px;
}

.logo img {
    height: 40px;
}

.top-buttons button {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    transition: 0.3s;
}

.top-buttons button:hover {
    background-color: #ddd;
   
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 200px;
    height: 100%;

    background-color: var(--sidebar);
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;

    z-index: 999;
}

.sidebar button {
    background: none;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 200px;

    transition: 0.3s;
}

.sidebar button:hover {
    background-color: var(--sidebar-hover)
}

/* CONTEÚDO */
.conteudo {
    margin-top: 100px;
    margin-left: 220px;

    padding: 20px;
    background-color: var(--conteudo);
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);

    min-height: 200vh; 
    border-radius: 20px;
}
/* CONFIGURAÇÕES */
.config {
    position: relative;
}

.menu-config {
    position: absolute;
    top: 50px;
    right: 0;

    background-color: var(--conteudo);
    border-radius: 10px;
    padding: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.hidden {
    display: none;
}