body {
    background-image: url("https://s2.glbimg.com/jouKK37fyS63nORe_321LQu7ItQ=/e.glbimg.com/og/ed/f/original/2020/01/25/masp_foto-marcos-santos_u0y4304.jpg");
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */

    padding-top: 180px; /* Devido à topbar fixa */
}

/* Netuno - barra de navegação */
.netuno {
    /* Fixed top */
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1030;

    /* Aparência */
    border-radius: 20px;
    background-color: white;
}

.netuno-logo {
    /* border-radius: 20px; */
    /* background-color: orange; */
}

#netuno-nav li { /* Items */
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid black;
    /* background-color: #EFEFEF; */
}

#netuno-nav a { /* Texto */
    color: black;
}


/* Atena - bloco principal da página */
.atena {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.atena-conteudo {
    height: 2000px; /* Para teste */

    border-radius: 20px;
    background-color: white;
    /* box-shadow: -5px -5px 5px 1px rgba(0,0,0,0.4); */
}

